# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# OSX
.DS_STORE
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log*

# Build
.tsbuildinfo
*.map
*.d.ts

!*.config.js
!**/res/*.js
dist
libs
build
data
files
logs
fonts
# Dependencies
node_modules
package-lock.json

# Output of 'npm pack'
*.tgz
*.tar

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
# *.env
# !example.env

temp
_data
db
chrome-profile